.header{
    width: 71.3rem;
    height: 12rem;
    background-color: rgba(235, 219, 219, 0.404);
    margin-left: 5rem;
    border-radius: 1rem;
}
.head{
    background: rgb(15, 61, 15);
    width: 100%;
    height: 5rem;
    
}
.mainbody{
    background: rgb(15, 61, 15);
    width: 75%;
    margin-top: 12rem;
    position: absolute;
    border-radius: 1rem;
    padding:30px;
}
.top{
    width: 100%;
    height: 18rem;
    background: rgb(151, 172, 164);
    padding: 4rem;
}
.forget{
    margin-left: 19rem;
}
.forget:hover{
    color: white;
    cursor: pointer;
}
.bottom{
    width: 100%;
    height: 30rem;
    background: rgb(151, 172, 164);
    padding:4rem;
}   